.header {
  width: 1550px;
  background-color: rgb(60, 184, 103);
}

.form {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.input {
  padding: 10px;
  color: black;
  font-size: medium;
  font-weight: 300;
  border: none;
  border-radius: 5px;
}

.btn {
  display: flex;
  border: 1px solid rgb(105, 104, 104);
  border-radius: 8px;
  background-color: rgb(208, 205, 205);
  color: rgb(10, 103, 42);
  padding: 10px;
  font-weight: 500;
  font-size: medium;
  justify-content: center;

}
